# ~/.aliases

########################################################################
###############         1. SYSTEM UTILITIES           ##################
########################################################################

# confirm before overwriting anything
alias cp="cp -i -r"
alias mv='mv -i'
alias rm='rm -i'
alias rmf='rm -rf -i'

# Custom Clear command
alias clr='clear;colorscript random'

# dd command (requires sudo and confirmation)
alias dd='sudo dd bs=4M status=progress'

# java runtime
alias jar='java -jar'

# chmod
alias mod="sudo chmod +x"

# change ownership
alias ownfi='sudo chown $USER'
alias ownfo='sudo chown -R $USER'

# userlist
alias userlist="cut -d: -f1 /etc/passwd"

# get the error messages from journalctl
alias jctl="journalctl -p 3 -xb"

# systemctl
alias sctl='sudo systemctl'
alias sysfailed="systemctl list-units --failed"

# shutdown or reboot
alias shutdown="shutdown now"

# list all drive with UUID
alias list-drive='lsblk -f'

# XAMPP
alias xampp='sudo /opt/lampp/lampp'

# systeminfo
alias probe="sudo -E hw-probe -all -upload"

# switch between shells (non-destructive chsh)
alias tobash="sudo chsh $USER -s /bin/bash && echo 'Now log out.'"
alias tozsh="sudo chsh $USER -s /bin/zsh && echo 'Now log out.'"
alias tofish="sudo chsh $USER -s /bin/fish && echo 'Now log out.'"

########################################################################
###############           2. PACKAGE MANAGEMENT       ##################
########################################################################

###### Pacman/AUR (Arch/Paru) commands
alias pacins='sudo pacman -S'
alias pacrmv='sudo pacman -R'
alias pacrmv-d='sudo pacman -Rns'
alias cleanup='sudo pacman -Rns $(pacman -Qtdq)' # remove orphaned packages
alias parurmv='paru -Rns'
alias pacup='sudo pacman -Syu'
alias yup='yay -Syu'
alias pup='paru -Syu'
alias yin='yay -S'
alias pin='paru -S'
alias search="paru"

# NOTE: DNF and APT aliases are commented out as they conflict with Pacman aliases.
#       Uncomment the set you need for your active distribution.

########################################################################
###############           3. DEVELOPMENT & ENV        ##################
########################################################################

# Node.Js
alias snpm="sudo npm"
alias pn='pnpm'
alias spn='sudo pnpm'
alias yrn='yarn'
alias syrn='sudo yarn'

# vim
alias edi="$EDITOR"
alias sedi="sudo $EDITOR"

# Make a directory with parent-child
alias mkdir="mkdir -p"

# continue download
alias wget="wget -c"

########################################################################
###############           4. NAVIGATION & LISTING     ##################
########################################################################

#### go to directory
alias down='cd $HOME/Downloads'
alias doc='cd $HOME/Documents'
alias cs='cd $HOME/.scripts'

# navigation
alias ..='cd ..'
alias ...='cd ../..'
alias .3='cd ../../..'
alias .4='cd ../../../..'
alias .5='cd ../../../../..'

# Changing "ls" to "eza"
# Setting MANPAGER to 'man' here ensures eza doesn't try to pipe its help to 'bat'
alias ls='eza -alh --color=always --group-directories-first' # listing
alias la='eza -ah --color=always --group-directories-first'  # all files and dirs
alias ll='eza -lh --color=always --group-directories-first'  # long format
alias lt='eza -aTh --color=always --group-directories-first' # tree listing
alias l.='eza -ah | egrep "^\."'

# Colorize grep output
alias grep='grep --color=auto'
alias egrep='egrep --color=auto'
alias fgrep='fgrep --color=auto'

# Ranger (File Manager)
alias r='ranger'
alias rq='ranger ~/.config/qtile/'
alias rb='ranger ~/.config/bspwm'
alias ra='ranger ~/.config/awesome'
alias rc='ranger ~/.config/'

########################################################################
###############           5. GIT & VERSION CONTROL    ##################
########################################################################

# git
alias gst='git status'
alias addup='git add -u'
alias addall='git add .'
alias branch='git branch'
alias checkout='git checkout'
alias clone='git clone'
alias commit='git commit -m'
alias fetch='git fetch'
alias pull='git pull origin'
alias push='git push origin'
alias tag='git tag'
alias newtag='git tag -a'
alias gemail='git config --global user.email'
alias gname='git config --global user.name'

########################################################################
###############           6. SCRIPTING & SOURCING     ##################
########################################################################

# Source config
alias fsource='source ~/.config/fish/config.fish'
alias bsource='source ~/.bashrc'
alias zsource='source ~/.zshrc'
alias asource='source ~/.aliases'

########################################################################
###############           7. HARDWARE & DISPLAY       ##################
########################################################################

#### on-off redshift
alias nightmode='sh ~/.scripts/redshift-on'
alias daymode='sh ~/.scripts/redshift-off'

# wifi & bluetooth
alias wifi="nmtui"
alias blue="blueberry"

# font listing
alias flist='fc-list | grep'

# grub update
alias grub-update="sudo grub-mkconfig -o /boot/grub/grub.cfg"

# give the list of all installed desktops - xsessions desktops
alias xd="ls /usr/share/xsessions"

########################################################################
###############           8. EDITING CONFIG FILES     ##################
########################################################################

# System Configuration Files (requires sudo)
alias nlightdm="sudo $EDITOR /etc/lightdm/lightdm.conf"
alias ngrub="sudo $EDITOR /etc/default/grub"
alias nconfgrub="sudo $EDITOR /boot/grub/grub.cfg"
alias nmkinitcpio="sudo $EDITOR /etc/mkinitcpio.conf"
alias nsddm="sudo $EDITOR /usr/lib/sddm/sddm.conf.d/default.conf"
alias nfstab="sudo $EDITOR /etc/fstab"
alias ndnf='sudo $EDITOR /etc/dnf/dnf.conf'
alias nsourcelist="sudo $EDITOR /etc/apt/sources.list"

# Shell/Dotfiles Configuration Files
alias nalias="$VISUAL ~/.aliases"
alias nbash="$VISUAL ~/.bashrc"
alias nzsh="$VISUAL ~/.zshrc"
alias nfish="$VISUAL ~/.config/fish/config.fish"

# Window Manager/Application Configuration Files
alias ni3="$VISUAL ~/.config/i3/config"
alias ni3blocks="$VISUAL ~/.config/i3/i3blocks.conf"
alias nqtile="$VISUAL ~/.config/qtile/config.py"
alias nbspwm="$VISUAL ~/.config/bspwm/bspwmrc"
alias nsxhkd="$VISUAL ~/.config/bspwm/sxhkdrc"
alias npolybar="$VISUAL ~/.config/polybar/config.ini"
alias nkitty="$VISUAL ~/.config/kitty/kitty.conf"
alias nalacritty="$VISUAL ~/.config/alacritty/alacritty.yml"
alias npicom="$VISUAL ~/.config/picom/picom.conf"
alias nxresources="$VISUAL ~/.Xresources"
alias nstarship="$VISUAL ~/.config/starship.toml"
alias nhtop="$VISUAL ~/.config/htop/htoprc"
alias nneofetch="$VISUAL ~/.config/neofetch/config.conf"
alias nnvim="$VISUAL ~/.config/nvim/init.lua"