[Desktop Entry]
Type=Action
Profiles=profile_id
Name=Open in VSCode
Icon=vscode
 
[X-Action-Profile profile_id]
MimeTypes=inode/directory;text/plain
Exec=code -a . %f
