[Desktop Entry]
Type=Action
Profiles=profile_id
Name=Open Folder As Root
Icon=stop
 
[X-Action-Profile profile_id]
MimeTypes=inode/directory
Exec=pcmanfm admin://%f
