[Desktop Entry]
Type=Action
Profiles=profile_id
Name=Open in Terminal
Icon=terminal
 
[X-Action-Profile profile_id]
MimeTypes=inode/directory
Exec=kitty %f
