[Desktop Entry]
Name=VSCodium
Comment=Code Editing. Refined.
GenericName=Text Editor
Exec=/usr/bin/codium --unity-launch %F
Icon=vscodium
Type=Application
StartupNotify=false
StartupWMClass=VSCodium
Categories=TextEditor;Development;IDE;
MimeType=text/plain;inode/directory;application/x-visual-studio-code-workspace;
Actions=new-empty-window;
Keywords=vscode;
X-XFCE-Source=file:///usr/share/applications/codium.desktop

[Desktop Action new-empty-window]
Name=New Empty Window
Exec=/usr/bin/codium --no-sandbox --new-window %F
Icon=vscodium
